{% extends 'main.html' %}
{% load static %}
{% block content %}

  <body>

    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        {% include 'base/category_componant.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
        {% include 'base/feeds_componant.html' %}
        <!-- Room List End -->

        <!-- Activities Start -->
        {% include 'base/activity_componant.html' %}
        <!-- Activities End -->
      </div>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
{% endblock %}

