<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href=" {% url 'home' %}">
    <img src = "{% static 'images/logoo.png' %}" width="70" height="70" />
</a>

<center style="color:red; font-size:40px; font-family:arial"  > Self Development website is your path to success </center>

<form method="GET" action="">
    <input type="text" name="q" placeholder="Search here ..."/>
</form>
<h4>Welcome {{ request.user }}</h4>



<div align="right">
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<hr>
</body>
</html>